@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {

    .logo {
        @apply text-3xl text-black font-thin sm:text-2xl;
        font-family: 'Helvetica';
    }

    .logo_yohankrugger {
        @apply text-black mt-44 ml-24 sm:mt-36;
        font-size: 9rem;
        font-family: 'Source Serif Pro', serif;
        line-height: 1;
        letter-spacing: 0.07em;
    }

    html {
        /* @apply overflow-y-hidden; */
    }

    body {
        @apply h-screen overflow-y-hidden;
    }

    * {
        @apply text-black;
        font-family: 'Helvetica', 'Arial', sans-serif;
    }

    .page_wrapper {
        @apply m-auto;
        max-width: 1480px;
    }

    .man_page_wrapper {
        @apply m-auto;
        width: 6000px;
    }

    nav {
        @apply p-5 flex flex-wrap;
    }

    .content_wrapper {
        /* @apply p-8; */
    }

    .man_content_wrapper {
        @apply flex;
    }

    .home_wrapper {
        @apply p-8;
    }

    .home_nav {
        @apply mt-16 text-center;
    }

    .home_nav a {
        @apply my-2 ml-0 text-7xl duration-700 sm:text-3xl;
    }

    .home_nav a:hover {
        @apply text-white;
        text-shadow: 0 3px 5px rgb(0 0 0 / .35);
    }

    .logo_frame {
        @apply p-8;
    }

    .frame {
        @apply m-5 p-5 sm:m-4 sm:p-5;
        width: 1100px;
    }

    .frame img {
        width: 90%;
    }

    footer {
        @apply text-center text-black text-sm font-extralight absolute whitespace-nowrap;
        bottom: 2.2vh;
        left: 50%;
        transform: translateX(-50%);
        line-height: 1;
        font-size: 1.3vw;
    }

    .man_page_wrapper footer {
        @apply fixed;
    }

    p {
        @apply font-light;
    }

}

@media (max-width:480px) {

    html {
        overflow-y: hidden;
    }

    .logo_frame {
        /* width: 1300px; */
    }

    .logo_yohankrugger {
        font-size: 8.5rem;
    }

    .frame {
        width: 750px;
    }

    footer {
        font-size: 12px;
    }


}

@media (min-width:768px) and (max-width:1024px) {

    html {
        overflow-y: hidden;
    }

}
